{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <h3 class="text-center mb-3">Citation</h3>

      <div class="citation-section">

        <div class="citation-item mb-3">
          <h5 class="mb-2">How to Cite dGbyG web</h5>

          <div class="citation-text p-3 bg-light rounded">
            <p class="mb-1">
              Jie Zhong<sup>#</sup>, Wenchao Fan<sup>#</sup>, Ziwei Dai (2025).
              <em>dGbyG Web: prediction of standard Gibbs free energy changes in genome-scale metabolic networks</em>.
              Journal Name, Volume(Issue), Page Numbers.
            </p>
          </div>
        </div>

        <div class="citation-item">
          <h5 class="mb-2">BibTeX</h5>
          <div class="citation-text p-3 bg-light rounded">
<pre class="mb-0"><code>@article{zhong2025dgbyg,
  title   = {dGbyG Web: prediction of standard Gibbs free energy changes in genome-scale metabolic networks},
  author  = {Zhong, Jie and Fan, Wenchao and Dai, Ziwei},
  journal = {Journal Name},
  volume  = {Volume},
  number  = {Issue},
  pages   = {Page Numbers},
  year    = {2025}
}</code></pre>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}
